@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
 
}
*{
  margin: 0;
}


.topics{
  background-image: url('./images/sea-mid.jpg');
  background-repeat:no-repeat ;
  background-attachment: scroll;
  background-position: center;


}

.nav-bar ul{
  color: white;
  display: flex;
  margin-right: 5rem;

}
.nav-bar-link {
  color: white;
  text-decoration: none;
}
.nav-bar li  {
  margin: 2rem;
  list-style: none;
}
.nav-bar-link:hover {
  color: orangered;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
.choices{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  bottom: 8rem;
}
.pick{
  background-color: rgba(0, 0, 0, 0.944);
  padding-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 700;
  color:  rgb(223, 179, 0);
}
.choices .links{
  color: white;
  text-decoration: none;
  padding: 2rem;
  font-size: larger;
  width: 1rem;
  height: 1rem;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choices .links:hover{
  color: rgb(223, 179, 0);
  font-size: x-large;
}


.homepage{
  height: 85vh;
  width: 100%;
  background-color: #000;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;

}
.homepage-title{
  font-size: 180px;

}
.kilish{
  position: relative;
  color: orangered ;
  left: 60px;
  bottom: 60px;
}
.homepage-title {
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
  text-transform: uppercase; /* Convert the text to uppercase */
  letter-spacing: 0.1em; /* Add a bit of extra space between letters */
}

.enko {
  color: white; /* Set the color to white */
  text-shadow: 2px 2px 4pxorangered; /* Add an orange shadow */
  animation: glow 1s ease-in-out infinite alternate;
}



@keyframes glow {
  from {
    text-shadow: 2px 2px 4px orangered;
  }
  to {
    text-shadow: 4px 4px 8px orangered;
  }
}


.mellow-logo{
  width: 40px;
  border-radius: 50%;
}
.enkokilish{
  width: 500px;
  border-radius: 25%;
  padding: 3rem;
}

.motto-english {
  position: relative;
  bottom: 3rem;
  font-weight: bold;
  font-size: 1.3em; /* Slightly larger than default size */
  color:orangered;
  padding-left: 3rem;
  display: flex;
  
}

.motto-amh {
  font-weight: bold;
  font-size: 1.2em; /* Slightly larger than default size */
  color: white;
  position: relative;
  bottom: 3rem;
}

.get-started button {
  background-color:orangered;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 1.1em; /* Slightly larger than default size */
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 2rem;
  position: relative;
  bottom: 3rem;
}

.get-started button:hover {
  background-color: white;
  color: rgb(255, 98, 0);
  border: 2px solidorangered;
}

.get-started button:focus {
  outline: none;
}



.question-container-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  width: 600px;
  height: 350px;
  padding: 20px;
}
.question{
  color: black; 
  font-weight: 600;
  padding: 2rem;
  height: 40px;

}
.score-display{
  font-weight: 700;
  width: 20%;
  padding: 5px;
  position: fixed;
  top: 90px;
  right : 0 ;
}
.answer {
  background-color: #f2f2f2;
  color: #373737;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  height: 20px;
  transition: background-color 0.3s ease-in-out;
}

.answer:hover {
  background-color: #e6e6e6;
}

.prev-btn,
.next-btn {
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #3e8e41;
}
.navigate-buttons{
  display: flex ;
  justify-content: space-between;
}

.math-question {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}


.header , .footer{
  border-bottom: 5px #e6e6e6 ;
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
}
/* .footer {
  background-color: #000;
  padding: 2rem 0;
  height: 35px;
  position: absolute;
  bottom: 0;

} */
.footer a:hover{
  color: white;
}
.footer a{
  color:orangered;
}

.footer-content {
  
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: whitesmoke
 
}


/* CSS for Tablet Devices (landscape mode) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .homepage {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
  }
  
  .homepage-title {
    font-size: 100px;
  }
  
  .enkokilish {
    width: 100%;
    padding: 2rem;
  }
  
  .motto-english {
    font-size: 1.2em;
    padding-left: 0;
  }
  
  .motto-amh {
    font-size: 1em;
  }
  
  .get-started button {
    font-size: 1em;
    border-radius: 1rem;
    bottom: 0;
    margin-top: 2rem;
  }
  
  .question-container-box {
    width: 90%;
    height: auto;
  }
  
  .score-display {
    width: auto;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
  }
  
  .math-question {
    height: auto;
    padding: 20px;
    text-align: center;
  }
}

.score-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.score-message h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.score-message p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.score-message h3 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
}


.about-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../src/images/sea-mid.jpg');
  background-size:contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {

  text-align: center;
  color: white;
  
}

.about-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 0.1rem -0.1rem rgba(130, 111, 0, 0.744);
}

.about-text p {
  background-color: #2b2b2bd1;
  font-size: 24px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Info-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.contactForm {
  width: 100%;
  max-width: 500px;
  background-color: #f5f5f5;
  padding: 50px;
  margin-bottom: 50px;
}

.contactForm h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px #333;
}

.contactForm button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.contactForm button[type="submit"]:hover {
  background-color: #555;
}

.contactInfo {
  
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../src/images/world.jpg');
  background-position: center;
}

.contactInfo .box {
  width: calc(33.33% - 20px);
  background-color: #f5f5f5;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  min-height: 100px;
  min-width: 50px;
}

.contactInfo .box .icon {
  font-size: 48px;
  margin-bottom: 20px;
  color: #333;
}

.contactInfo .box .text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.contactInfo .box .text h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.contactInfo .box .text p {
  margin: 0;
  padding: 0;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .contactInfo .box {
    width: 100%;
    margin: 10px 0;
  }
}


/* login and register form styles */
.log-forms{
  color: #333;
}
.log-forms:hover{
  color: orangered;
  text-decoration: underline;
}
.forms form .head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media only screen and (max-width: 1171px) {
  
  .choices{
    flex-direction: column;
    align-items: center;
    background-color: #000000a8;
  }
  .homepage {
  flex-direction: column;
  height: 100%;
  padding: 5%;
  width: 90%;
 
  }
  
  .left-homepage {
  margin-bottom: 5%;

  }
  
  .homepage-title {
  font-size: 100px;
  }
  
  .kilish {
  left: 30px;
  bottom: 30px;
  }
  
  .enko {
  font-size: 120px;
  }
  
  .motto-english {
  font-size: 1em;
  padding: 0;
  text-align: center;
  }
  
  .motto-amh {
  font-size: 0.9em;
  }
  
  .get-started button {
  font-size: 1em;
  }
  
  .right-homepage {
  display: flex;
  justify-content: center;
  }
  
  .enkokilish {
  width: 70%;
  }
  }
  
  @media only screen and (max-width: 425px) {
  .homepage-title {
  font-size: 80px;
  }
  
  .kilish {
  left: 20px;
  bottom: 20px;
  }
  
  .enko {
  font-size: 100px;
  }
  
  .motto-english {
  font-size: 0.8em;
  }
  
  .motto-amh {
  font-size: 0.7em;
  }
  
  .get-started button {
  font-size: 0.8em;
  }
  
  .enkokilish {
  width: 90%;
  }
  }

  

@media only screen and (max-width: 1200px) {
  
  .question-container-box {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 70%;
    height: auto;
    padding: 10px;
  }

  
  .question{
    color: black; 
    font-weight: 600;
    padding: 1rem;
    height: 40px;
  
  }
  .score-display{
    font-weight: 700;
    width: 10%;
    padding: 2.5px;
    position: fixed;
    top: 45px;
    right : 0 ;
  }
  .answer {
    background-color: #f2f2f2;
    color: #373737;
    border-radius: 2.5px;
    margin-bottom: 5px;
    padding: 5px;
    height: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  
  .math-question {
    width: 80%;
    height: 75vh;
    display: flex;
    padding-top: 15rem;
    justify-content: start;
    padding-left: 3rem;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  



}


@media only screen and (max-width: 600px) {
  
  .question-container-box {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    
    width: 70%;
    height: auto;
    padding: 10px;
  }
  .question{
    color: black; 
    font-weight: 600;
    padding: 1rem;
    height: 40px;
  
  }
  .score-display{
    font-weight: 700;
    width: 10%;
    padding: 2.5px;
    position: fixed;
    top: 45px;
    right : 0 ;
  }
  .answer {
    background-color: #f2f2f2;
    color: #373737;
    border-radius: 2.5px;
    margin-bottom: 5px;
    padding: 5px;
    height: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  body {
    width: 550px;
  }
  .homepage , .about-container, .forms {
    height :120vh ;
    width: 90%;
    margin-bottom: 0;
   
  }
  .login-form{
    width: 110%;
    
  }
  .about-container{
    width: 100%;
  }
  .contactForm , .contactInfo{
    width: 70%;
  }
  
  .nav-bar ul{ 
    margin-right: 0;
  }
  
  .math-question {
    width: 80%;
    height: 100vh;
    display: flex;
    padding-top: 15rem;
    justify-content: start;
    padding-left: 3rem;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    

  }
  
    .enko {
    margin-top: 2.5rem;
    font-size: 120px;
    padding-top: 1rem;
    }
    .kilish{
      font-size: 120px;
      padding-bottom: 2rem;
    }
    
    .motto-english {
    font-size: 1em;
    padding:0.5rem;
    text-align: center;
    }
    
    .motto-amh {
    font-size: 0.9em;
    padding: 0.5rem;
    }
    
    .get-started button {
    font-size: 1.25em;
    margin-top: 0.75rem;
    padding: 1.25rem;
    }
    .enkokilish{
      margin-top: 0;
      padding-top: 0;
    }


}


@media only screen and (max-width: 900px) and (min-width : 800px) {

 .contact{
  height: 85vh;
 }
}


/* login form */

.google-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 30% ;
}

.user{
  width: 30px;
  height: 30px;
}
.user-logo{
  cursor: pointer;
  right: 0;
  top: 0;
}
.user-display{
  color: chocolate;
  padding:0 2rem ;
  margin: 0 2rem;
}